[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gym = "==0.17.3"
numpy = "*"
torch = "*"
ipykernel = "*"
tqdm = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.9"
